.title {
  margin: 40px 100px 10px;
  color: #333;
  padding-bottom: 20px;
  text-align: left;
}

.text {
  color: #777;
  margin: auto 100px;
  padding-bottom: 30px;
  text-align: left;
}

.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  background: #4979ff;
  margin: 20px auto;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}

.notfound {
  margin: 40px 100px 10px;
  color: #333;
  padding-bottom: 20px;
  text-align: left;
}